@model LoginViewModel
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="@Url.Content("~/styles/main.css")" rel="stylesheet" type="text/css" />
    <title>Login</title>
</head>

<body>
    <div class="box">
        <div class="form">
            <div class="logo">
                <img src="@Url.Content("~/styles/images/logo-icon.png")" alt="logo-icon">
                <img class="logo-text" src="@Url.Content("~/styles/images/logo-text.png")" alt="logo-text">
            </div>
            <form asp-controller="Auth" asp-action="Login" method="post" class="main-form">
                <input type="hidden" asp-for="ReturnUrl" />
                <div class="inputBox">
                    <input type="text"  asp-for="UserName" class="form-control" required="required" autocomplete="off">
                    <span>Нікнейм</span>
                    <i></i>
                    <p class="info-span" asp-validation-for="UserName"></p>
                </div>
                <div class="inputBox">
                    <input type="password"  asp-for="Password" class="form-control" required="required">
                    <span>Пароль</span>
                    <i></i>
                    <p class="info-span" asp-validation-for="Password"></p>
                </div>
                <div class="links">
                    <a href="#">Забули пароль?</a>
                    <a asp-controller="Auth" asp-action="Register" asp-route-ReturnUrl="@Model.ReturnUrl">Зареєструватись</a>
                </div>
                <input type="submit" id="submitButton" value="Увійти">
            </form>
        </div>
    </div>
    <div class="message-box">
        @Html.ValidationSummary()
    </div>
    <script src="@Url.Content("~/styles/js/script.js")"></script>
</body>

